
<app-navbar class="componente-superior"></app-navbar>

<section>
  <div class="container form-box">
    <button type="button" class="btn btn-secondary" routerLink="/coordinador/modulo">Volver</button>
    <h1 class="title">Seleccione el docente</h1>
    <form class="form-inline">
      <input type="text" name="campo-busqueda" class="form-control mb-2 mr-sm-2" id="busqueda" placeholder="Ingrese el nombre del docente" [(ngModel)]="filtroNombre">
  
    <table class="table">
      <!-- Encabezado de la tabla -->
      <thead class="titulosT">
        <tr>
          <th>Nombre</th>
          <th>Id</th>
          <th>Tipo docente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody class="cuerpoT">
        <!-- Fila de la tabla con filtrado -->
        <tr *ngFor="let docente of lstDocentes | filterByNombre:filtroNombre">
          <td>{{docente.USU_NOMBRE}}</td>
          <td>{{docente.USR_IDENTIFICACION}}</td>
          <td>{{rolUsuario(docente)}}</td>
          <td>
            <button routerLink="/coordinador/modulo/docente/items" type="button" (click)="setDocenteSeleccionado(docente)" class="btn btn-primary">Seleccionar</button>
          </td>
        </tr>
      </tbody>


