.title {
  display: flex;
  place-items: center;
  margin: 20px 30px;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.inactivar{
  border-radius: 25px;
}

.container{
  /*height: 500px;*/
  margin-top: 20px;
  padding: 30px;
}

.operaciones{
  align-items: center;
  place-items: center;
  margin-left: 20px;
}

section{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  min-height: 100vh;
  width: 100%;

  background: transparent;
  background-position: center;
  background-size: cover;
}

.form-box{
  position: flex;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.titulosT th {
  background-color: transparent;
  color: white;
}

.cuerpoT td{
  background-color: rgba(255, 255, 255, 0);
  /*color: rgb(255, 255, 255);  Puedes cambiar el color del texto en el cuerpo si lo necesitas */
  border: none;
  color: white;
}

.cuerpoT i{
  color: rgb(255, 255, 255); /* Puedes cambiar el color del texto en el cuerpo si lo necesitas */
  justify-content: center;
  font-size: 15px;
}

h4{
  color: red;
}

.title .btn{
  background-color: #001C4D;
  color: white;
}

.inactivar{
  background-color: #880d1b;
  color: white;
}

.form-inline{
  margin: 30px 0px;
}

.form-inline input{
  background: transparent;
  border: none;
  border-bottom: 2px solid #333;
}

input::placeholder {
  color: #ffffff; 
}

input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: white;
}

.container-search{
  display: flex;
}

.container-search i{
  font-size: 20px;
  color: white;
  margin: 20px;
}

.form-control{
  color: white;
}
