<app-navbar class="componente-superior"></app-navbar>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image-perfil text-center">
                    <div class="image">
                        <img src="../../../assets/images/info-personal/149071.png" alt="" class="rounded-circle img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="info-usuario">
                    <h1>{{user?.USU_NOMBRE}} {{ user?.USU_APELLIDO}}</h1>
                    <hr>
                    <table class="table">
                        <tr>
                            <td>Identificación: </td>
                            <td>{{user?.USR_IDENTIFICACION}}</td>
                        </tr>
                        <tr>
                            <td>Género: </td>
                            <td>{{diccionarioGenero(user?.USU_GENERO)}}</td>
                        </tr>
                        <tr>
                            <td>Último estudio: </td>
                            <td>{{user?.USU_ESTUDIO}}</td>
                        </tr>
                        <tr>
                            <td>Tipo ID: </td>
                            <td>{{user?.USU_TIPOID}}</td>
                        </tr>
                        <tr>
                            <td>Correo: </td>
                            <td>{{user?.USU_CORREO}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
