<section>
    <div class="form-box">
        <div class="form-value">
            <form action="">
                <div class="header">
                    <p class="separador"></p>
                    <p class="title">
                        Sistema de gestión de <br>autoevaluación docentes
                    <p>
                </div><br>
                <h2>Iniciar Sesión</h2>
                <div class="inputbox">
                    <i class="bi bi-envelope"></i>
                    <input type="email" required>
                    <label for="">Correo</label>
                </div>
                <div class="inputbox">
                    <i class="bi bi-lock"></i>
                    <input type="password" required>
                    <label for="">Contraseña</label>
                </div>
                <button>Ingresar</button>
            </form>
        </div>
    </div>
</section>
