@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
h3{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.container {
    margin-top: 5%;
    width: 80%;
}

.titulo{
    color: white;
    padding: 10px;
}

section {
    display: flex;
    /*justify-content: center;*/
    min-height: 100vh;
    width: 100%;

    background: transparent;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: flex;
    background: rgba(0, 0, 0, 0.447);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    padding: 20px;
    border: 2px solid rgba(8, 109, 172, 0.425);

}

.selector label{
    color: rgb(254, 254, 254);
}

.select {
    background: transparent;
    color: rgb(19, 123, 234); /* Cambia el color del texto según tus preferencias */
    border: none;
    border-bottom: 2px solid #ffffff; /* Puedes ajustar el color del borde inferior según tus preferencias */
    outline: none;
    height: 50px;
    width: 80%;
    font-size: 1em;
}

/* Para estilizar el desplegable en navegadores específicos como Firefox */
.select::-ms-expand {
    display: none;
    background: transparent;
}

table{
    width: 100%;
    text-align: center;
}

.titulosT th {
    background-color: transparent;
    color: white;
}

.cuerpoT td{
    background-color: rgba(255, 255, 255, 0);
    /*color: rgb(255, 255, 255);  Puedes cambiar el color del texto en el cuerpo si lo necesitas */
    border: none;
    color: white;
}