.container {
  margin-top: 5%;
  text-align: center;
}

.table-datos-docente {
  width: 400px;
  margin: 20px 0px;
}

.encabezado {
  display: flex;
}

.table-datos-docente tr {
  width: 20px;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: none;
}

.centrar-botones {
  text-align: center;
  margin: 40px;
}

.centrar-botones button {
  margin: 20px;
}

td button {
  margin: 0px 10px;
}

.title {
  display: flex;
  place-items: center;
  margin: 20px 30px;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.container {
  /*height: 500px;*/
  margin-top: 20px;
  padding: 30px;
}

.operaciones {
  align-items: center;
  place-items: center;
  margin-left: 20px;
}

section {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  min-height: 100vh;
  width: 100%;

  background: transparent;
  background-position: center;
  background-size: cover;
}

.form-box {
  position: flex;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.titulosT th {
  background-color: transparent;
  color: white;
}

.cuerpoT td {
  background-color: rgba(255, 255, 255, 0);
  /*color: rgb(255, 255, 255);  Puedes cambiar el color del texto en el cuerpo si lo necesitas */
  border: none;
}

.cuerpoT i {
  color: rgb(255, 255, 255);
  /* Puedes cambiar el color del texto en el cuerpo si lo necesitas */
  justify-content: center;
  font-size: 15px;
}

h4 {
  color: red;
}

.title .btn {
  background-color: #001c4d;
  color: white;
}

.table {
  background: transparent;
}

.row {
  background: transparent;
}

.infoPrincipal {
  color: white;
}

.columnaTD {
  color: aqua;
}

.select-estado {
  background: transparent;
  color: white;
}

.select-estado option {
  background: transparent;
  color: black;
}

.observaciones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.observaciones input,
button {
  margin: 20px;
}

.observaciones input {
  width: 80%;
  height: 30px;
}

.observaciones button {
    background-color: #001c4d;
  color: white;
  border: none;
  border-radius: 5%;
}
