<app-navbar class="componente-superior"></app-navbar>

<section>
        <div class="form-box">
            <div class="form-value">
                <form [formGroup]="form" (ngSubmit)="guardarPeriodo()">
                    <h2>{{operacion}} Periodo</h2>
    
                    <div class="col-md-6 mb-2 pb-2">
                        <div class="form-outline inputbox">
                            <input type="text" class="form-control-sm" formControlName="nombre" required>
                            <label for="">Nombre</label>
                        </div>
    
                        <span *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                            Campo requerido
                        </span>
                    </div>
    
                    <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline inputbox">
                            <input type="number" class="form-control-sm" formControlName="anio" required>
                            <label for="">Año</label>
                        </div>
    
                        <span *ngIf="form.get('anio')?.hasError('required') && form.get('anio')?.touched">
                            Campo requerido
                        </span>
                    </div>
    
                    <div class="col-md-6 mb-4 mt-6 pb-2">
                        <div class="form-outline inputbox">
                            <input type="date" class="fechas" formControlName="fechaInicio">
                            <label for="">Fecha de Inicio</label>
                        </div>
                    </div>
    
                    <div class="col-md-6 mb-4s pb-2">
                        <div class="form-outline inputbox">
                            <input type="date" class="fechas" formControlName="fechaFin">
                            <label for="">Fecha de Fin</label>
                        </div>
                    </div>
    
                    <div class="mb-4 pb-2">
                        <select formControlName="semestre" class="select">
                            <option value="" disabled selected hidden class="opcion-blanca">Seleccione Semestre</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select><br>
                        <span *ngIf="form.get('semestre')?.hasError('required') && form.get('semestre')?.touched">
                          Campo requerido
                        </span>
                      </div>
    
                    <button type="submit">Guardar</button>
                    <button class="btn-cancelar" type="submit" routerLink="/coordinador/periodos">Cancelar</button>
                </form>
            </div>
        </div>

        <!--TODO hacer la tabla y consultar clases que me permitan hacer eso-->
    
</section>