@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: "sans-serif";
}

h2{
    font-family: 'poppins';
    color: #fff;
    margin-bottom: 10px;
}

section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

    background:transparent;
    background-position: center;
    background-size: cover;
}

.form-box{
    width: 450px;
    height: 600px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox{
    position: relative;
    margin-top: 15px;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label, 
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: green;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 60;
    margin-bottom: 10px;
}

.btn-cancelar{
    background: rgb(255, 38, 38);
}

form span{
    color: rgb(255, 93, 93);
    margin-top: -30px;
}

.fechas{
    color-scheme: dark;
}

.semestre-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selector-semestre{
    margin: 0px 100px;
}

.mb-4.pb-2 select {
    background: transparent;
    color: rgb(0, 195, 255);
    border: none;
    border-bottom: 2px solid #ffffff; /* Puedes ajustar el color del borde inferior según tus preferencias */
    outline: none;
    height: 50px;
    width: 80%;
    font-size: 1em;
}

/* Para estilizar el desplegable en navegadores específicos como Firefox */
.mb-4.pb-2 select::-ms-expand {
    display: none;
    background: transparent;
}