@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.titulo{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-size: "sans-serif";
}

h4{
    font-family: 'poppins';
}

.container{
    width: 920px;
    margin-top: 20px;
}

section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

    background: transparent;
    background-position: center;
    background-size: cover;
}

.row{
    padding-top: 40px;
    margin-bottom: 30px;
}

.separador{
    background: url('../../../assets/images/inicio-sesion/separador.png');
    width: 3px;
    height: 50px;
}

.header{
    display: flex;
}

.title{
    margin-left: 5px;
    color: white;
}

.form-box{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: white;
    text-align: left;

}

.inputbox{
    position: relative;
    width: 350px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label, 
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: white;
}

.botones {
    display: flex;
    place-items: center;
    margin: 10px 30px;
    justify-content: space-between;
}

button{
    width: 40%;
    height: 40px;
    border-radius: 40px;
    color: white;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 60;
}

.registrar{
    background: green;
    cursor: pointer;
}

.cancelar{
    background: red;
    cursor: pointer;
}

button:hover{
    background: white;
}

.mb-4.pb-2 select {
    background: transparent;
    color: rgb(15, 105, 201); /* Cambia el color del texto según tus preferencias */
    border: none;
    border-bottom: 2px solid #ffffff; /* Puedes ajustar el color del borde inferior según tus preferencias */
    outline: none;
    height: 50px;
    width: 80%;
    font-size: 1em;
}

/* Para estilizar el desplegable en navegadores específicos como Firefox */
.mb-4.pb-2 select::-ms-expand {
    display: none;
    background: transparent;
}

span{
    color: red;
    margin-top: -10px;
}

.fechas{
    margin: 10px 0px;
    color: white;
}
