<app-navbar></app-navbar>
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="image-perfil text-center">
                    <img src="../../../assets/images/info-personal/francisco obando.jpg" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                <div class="info-usuario">
                    <h1>Sandra Milena Roa Martinez</h1>
                    <table class="table">
                        <tr>
                            <td>Identificación: </td>
                            <td>11111111</td>
                        </tr>
                        <tr>
                            <td>Género: </td>
                            <td>F</td>
                        </tr>
                        <tr>
                            <td>Último estudio: </td>
                            <td>Undefined</td>
                        </tr>
                        <tr>
                            <td>Rol: </td>
                            <td>Coordinador</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
