<nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <!-- Parte izquierda con foto y nombre -->
        <a routerLink="/docente/info" class="navbar-brand">
  
          <img src="../../../assets/images/info-personal/149071.png" alt="foto-perfil">
          {{data_user.nombre}} {{data_user.apellido}}
  
        </a>
  
        <!-- Parte derecha con las opciones -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link" routerLink="/docente/autoevaluacion">Autoevaluacion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="setNotificaciones()">
              <i class="bi bi-bell-fill"></i>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" (click)="logout()" >
              <i class="bi bi-box-arrow-left"></i>
              <span class="btn-salir">Salir</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container notificaciones" *ngIf="notificaciones_active">
    <div class="title">
      <h4>Notificaciones</h4>
      <hr>
    </div>
  
    <div class="contenido" *ngFor="let not of notificaciones">
      <div class="icon-perfil">
        <img src="../../../assets/images/info-personal/149071.png" alt="img-perfil">
      </div>
  
      <div class="informacion">
        <h5>Coordinador</h5>
        <p class="descripcion-notificacion">
          {{not.notificacion.NOT_DESCRIPCION}}
        </p>
        <p class="not-fecha">
          {{not.NOT_FECHA | date:'yyyy-MM-dd'}}
        </p>
      </div>
    </div>
  </div>
  
  <script>
    // Mueve el script al final del body
    document.addEventListener("DOMContentLoaded", function() {
        const container = document.querySelector('.container');
        setTimeout(() => {
            container.classList.add('show');
        }, 1000);
    });
  </script>